.user-detailed-container, .user-basic-container {
    border-style: groove;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;
}

.user-basic-container:hover {
    background-color: aliceblue;
}

.hidden {
    display: none;
}

.label-container {
    display: flex;
    align-items: center;

    label {
        margin-right: 5px;
        font-weight: bold;
    }
}

.user-detailed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -12px;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

#users-search-bar {
    padding: 10px;
    border-radius: 20px;
    box-shadow: none;
    width: 33%;
    border-style: groove;
}

.center {
    text-align: center;
}

#users-search-bar:focus {
    outline: none;
    border-color: lightblue;
}

#user-list {
    padding-inline-start: 0px;
}