<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 class="center">
    Welcome to {{ title }}!
  </h1>
</div>

<app-user-list></app-user-list>

<div class="center">
    <a href="https://github.com/winniethejedi/DSTest" target="_blank">
      <img src=".\assets\GitHub-Mark-120px-plus.png" id="git-hub-image"/>
  </a>
</div>
<div class="center">
  <a href="https://craig-parker.firebaseapp.com/" target="_blank" id="portfolio-link">
    Portfolio
  </a>
</div>

<router-outlet></router-outlet>
