.user-detailed-container, .user-basic-container {
    border-style: groove;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;
}

.user-basic-container {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.user-basic-container:hover {
    background-color: aliceblue;
}

.hidden {
    display: none;
}

.label-container {
    display: flex;
    align-items: center;

    label {
        margin-right: 5px;
        font-weight: bold;
    }
}

.user-detailed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -12px;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

#users-search-bar {
    padding: 10px;
    border-radius: 20px;
    box-shadow: none;
    width: 33%;
    border-style: groove;
}

.center {
    text-align: center;
}

#users-search-bar:focus {
    outline: none;
    border-color: lightblue;
}

#user-list {
    padding-inline-start: 0px;
}

.user-detailed-section {
    width: 30%;
}

.personal-detailed-container.user-detailed-section {
    border-right: groove;
}

app-address.user-detailed-section {
    border-right: groove;
}

#git-hub-image {
    margin-bottom: 30px;
}

#portfolio-link {
    text-decoration: none;
}

#portfolio-link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .user-detailed-section {
        width: 90%;
    }

    .personal-detailed-container.user-detailed-section {
        border-right: none;
    }
    
    app-address.user-detailed-section {
        border-right: none;
    }

    #users-search-bar {
        width: 70%;
    }
}