<div class="user-detailed-container"
    (click)="handleUserDetailedClick()"
>
    <div class="personal-detailed-container">
        <h3>Personal Info</h3>
        <div class="label-container">
                <label>Phone:</label><p>{{ user.phone }}</p>
        </div>
        <div class="label-container">
            <label>Website:</label><p>{{ user.website }}</p>
        </div>
    </div>

    <app-address
    [address]="user.address"
    >
    </app-address>
    <app-company
    [company]="user.company"
    >
    </app-company>
</div>